* {
  box-sizing: border-box;
  font-family: system-ui;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  height: 100%;
}

app-root {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.center {
  text-align: center;
}